@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
:root {
    --main-bg-color: #2874f0;
  }
:root {
    --gradient: linear-gradient(
        to right,
        rgb(243, 201, 16),
        rgb(243, 201, 16),
        
        rgb(248, 232, 139),
        rgb(238, 240, 146),
        rgb(245, 244, 196),
        rgb(169, 245, 255),
        
        white,
        
        
        
        rgb(201, 255, 196),
        rgb(245, 244, 196),
        rgb(238, 240, 146),
        
        rgb(221, 214, 122),
        rgb(221, 214, 122),
        rgb(221, 214, 122),
        rgb(238, 240, 146),
        rgb(245, 244, 196),
        rgb(169, 245, 255),
        white,
        rgb(201, 255, 196)
       );
}
@keyframes aks{
    from{background-position: right}
    to{background-position: left;}

}
@keyframes gou{
    from{transform: translate(0vw);}
    to{transform: translate(-422vw);}

}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
footer{
    height: 10vh;
    background-color: var(--main-bg-color);
    color: black;
    font-family: 'Lato', sans-serif;
    background-image: var(--gradient);
    background-size: 300%;
    animation: aks 15s  infinite alternate;
}
nav{
    display: inline-flex;
}
nav ul li{
    list-style: none;
    padding: 0px 23px;
}   
.slider{
    display: flex;
    overflow: hidden;
}
.fst{
    translate: 18vw;
    
}
.Tst{
    translate: 36vw;
    
}
.Fst{
    translate: 53vw;
    
}
.Sst{
    translate: 70vw;
    
}
select{
    background-color: yellow;
    color: black;
    height: 40px;
    width: 12vw;
    border-radius: 7px;
    font-family: arial;
    font-weight: bold;
}

.snd{
    animation: gou 20s 1s infinite alternate;
    width: 88vw;

}


nav ul{
    height: 58px;
    display: flex;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    font-weight: bold;
    color: rgb(133, 133, 134);
}
nav ul li:hover{
    font-weight: bold;
    color: rgb(133, 133, 134);
    cursor: pointer;
}
header{ 
    background-image: var(--gradient);
    background-size: 300%;
    font-family: arial;
    font-weight: bold;
    animation: aks 15s  infinite alternate;
       }
.logo{
    display: flex;
    align-items: center;
}
.logo img{

    padding: 0 25px;
    border-radius: 29%;
}
.container{
    min-height: calc(100vh - 58px - 12vh);
}
.btn{
    padding: 5px 10px;
    color: black;
    background-color: yellow;
    height: 2.3vw;
    border-radius: 7px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.card{
    max-width: 91vw;
    margin: 2vw 4vw 2vw 2vw;

    font-family: arial;
}
.my-1{
    margin: 5px 0;
    width: 200px;
    text-align: center;
    
}
.card h2{
    color: White;
    margin: 26px 0;

}
.text-center{
    text-align: center;
}
.card-item{
    
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}
.cards{
    color: White;
    display: flex;
    overflow: hidden;
    margin: 15px auto;
    flex-wrap: wrap;
    font-family: arial;
    
}

form{
    display: flex;
    justify-content: space-between;
    margin: 2vw;
}
input{
    width: 65vw;
    height: 2.3vw;
    background-color: yellow;
    text-align: center;
    border-radius: 7px;
  
    
}
.lines{
    position: relative;
    
    top: -5vw;
background-color: black;
opacity: 77%;
height: 78px;

}
.btn{
    
}

